name: CI
on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25
      - name: Cache
        if: success()
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/cocli/${{ runner.os }}/${{ runner.arch }}/go/pkg/mod
          key: ${{ runner.os }}-golang-${{ hashFiles('**/go.sum', 'make/**') }}
          restore-keys: |
            ${{ runner.os }}-golang-
      - name: Lint
        run: make lint
      - name: Build
        run: make build
      - name: Run Tests
        run: make test
